<h1>Edit your job here: </h1>
<%= form_for @job do |f| %>
	<%=f.label :name %>
	<%=f.text_field :name %>
	<%=f.label :cargo %>
	<%= f.text_field :cargo %>
	<%=f.label :origin %>
	<%=f.text_field :origin %>
	<%=f.label :destination %>
	<%=f.text_field :destination %>
	<%=f.label :containers_needed %>
	<%=f.text_field :containers_needed %>
	<%=f.label :cost %>
	<%=f.text_field :cost %>
	<%= f.hidden_field :user_id, value:current_user.id%>
	<%= f.hidden_field :boat_id, value:@boat.id %>
	<%=f.submit "create a job."%>
<% end %>

<%= link_to "Delete Job", job_path(@job), method: :delete %>
