<p>Job Name: <%= @job.name %></p>
<p>Cargo: <%= @job.cargo %></p>
<p>Origin: <%= @job.origin %></p>
<p>Destination: <%= @job.destination %></p>
<p>Conatiners needed: <%= @job.containers_needed %></p>
<p>Cost: <%= @job.cost %></p>
<p>Boat name: <%= link_to @job.boat.name, boat_path(@job.boat) %></p>
<p>Created by: <%= @job.user.email %></p>
	
<% if @job.user.id == current_user.id %>		
	<%= link_to "Edit", edit_job_path(@job)%>
<% end %>

	

