<!-- Profile page -->

<h1><%= @user.email %></h1>

<h3>Create New Boat</h3>
<%= form_for @boat do |f| %>
	<%=f.label :name %>
	<%=f.text_field :name %>
	<%=f.label :max_containers %>
	<%=f.text_field :max_containers %>
	<%=f.label :location %>
	<%=f.select :location, options_for_select([["Select location", ""], "Shanghai, China", "Los Angeles, USA", "London, UK", "New York City, USA", "Melbourne, Australia", "Tokyo, Japan", "Hamburg, Germany", "Santos, Brazil", "Colón, Panama", "Durban, South Africa"]) %>
	<%=f.hidden_field :user_id, value: current_user.id %>
	<%=f.submit "Create Boat" %>
<% end %>

<h3>List of Boats</h3>
<% @boats.reverse.each do |boat| %>
	<%= link_to boat.name, boat_path(boat) %>
	<br>
	<br>
<% end %>