<%= form_for @boat do |f| %>

	<%=f.label :name %>
	<%=f.text_field :name %>
	<%=f.label :max_containers %>
	<%=f.text_field :max_containers %>
	<%=f.label :location %>
	<%=f.select :location, options_for_select([["Select location", ""], "Shanghai, China", "Los Angeles, USA", "London, UK", "New York City, USA", "Melbourne, Australia", "Tokyo, Japan", "Hamburg, Germany", "Santos, Brazil", "Colón, Panama", "Durban, South Africa"]) %>
	<%=f.hidden_field :user_id, value: current_user.id %>
	<div class="actions">
    <%= f.file_field :avatar %>
  </div>
	<%=f.submit "Update Boat" %>

<% end %>


<%= link_to "delete boat", boat_path(@boat), method: :delete %>